#DATABASE_URI=postgresql://neondb_owner:npg_x0nqoBRZ1arW@ep-aged-tooth-a16jema0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
#PAYLOAD_SECRET=7e31d636aaba482caebee489
# Added by Payload
#DATABASE_URI=:postgresql://postgres.xhdmvndkcyklduqljmmg:kotacom@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
#DATABASE_URI=postgresql://postgres.vllsclrrksydjkutvhfh:kotacom@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
# Supabase Database Configuration
#DATABASE_URI=postgresql://postgres:Manchunian199!@db.vllsclrrksydjkutvhfh.supabase.co:5432/postgres
DATABASE_URI=postgresql://postgres.vllsclrrksydjkutvhfh:Manchunian199!@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
# Payload CMS Configuration
PAYLOAD_SECRET=7e31d636aaba482caebee489

# Optional: Supabase URL and Anon Key (if needed for other features)
NEXT_PUBLIC_SUPABASE_URL=https://vllsclrrksydjkutvhfh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsbHNjbHJya3N5ZGprdXR2aGZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4NDI1MzIsImV4cCI6MjA3MDQxODUzMn0.dEyyOBqzZC4RNVt2nfUlAMgQc39bba3LhH1zBZWpTs8